@import '../../assets/styles/light_theme.scss';

.container {
    margin: 0 auto;
    max-width: 1200px;
    .input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid $border;
        outline: none;
        font-size: 19px;
        transition-duration: 0.250s;
        

        &:focus {
            border: 1px solid $border-hover;
            background-color: $main-hover;
        }
        &.input-dark {
            background: transparent;
            border: 1px solid $dark-2;
            &:focus {
                border: 1px solid $light-7;
                background-color: $dark-1;
            }
           }
    }

}