@import '../../assets/styles/light_theme.scss';
.box-layout {
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid $border;

    &.box-layout-dark{
        border-color: $dark-2;
    }
    &:hover {
        border-color: $border-hover;
    }

}