.skills-page {
    .skills-list {
        display: grid;
        justify-content: center;
        gap: 1.25rem;
        grid-template-columns: repeat(3,minmax(0,1fr));
        margin-top: 2.5rem;
    }
}
.link:hover{
    background: none;
}