@import "../../assets/styles/light_theme";

.chip-wrap {
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid $border;
  color: $tertiary-text;
  transition-duration: 0.15s;
  user-select: none;
  margin: 2.5px;
  &.active {
    background-color: $accent;
  }
  &:hover {
    background-color: $main-hover;
  }
}
