.search-bar {
    .title {
        display: block;
        font-size: 58px;
        font-weight: 900;
        letter-spacing: 4px;
        margin-bottom: 28px;
        text-align: center;
    }
}


@media (max-width: 500px) {
    .search-bar {
        .title {

            font-size: 30px;
 
        }
    }
}