* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background,border-color,opacity,box-shadow,top,bottom,left,margin,right;
}

body{
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
}

