@import '../../assets/styles/light_theme.scss';

.chip-icon{
    display: flex;
    position: relative;
    border: 1px solid $border;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 10px;
    color: black;
    &.chip-icon-dark{
        border-color: $dark-2;
    }
    &.cursor-help {
        cursor: help;
    }
    .img-wrap {
        width: 15px;
        width: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &:hover{
        border: 1px solid $border-hover;
        &::before{
            content: attr(data-label);
            position: absolute;
            top: calc(100% + 5px);
            right: 40%;
            padding: 5px 10px;
            width: max-content;
            background-color: $secondary;
            border-radius: 15px;
            z-index: 10;
        }
    }
}
